@page
@model NOTIFICATION.Pages.User.IndexModel
@{
}



<div class="card">
    <div class="card-header">
        <h3 class="card-title">USERS</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                           FULLNAME
                        </th>
                        <th>
                           EMAIL
                        </th>
                        <th>
                            PHONE NUMBER
                        </th>
                       
                        <th></th>
                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
